* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* @import 'sass-bootstrap/lib/bootstrap'; */
@import 'reset';
@import '960_24_col';
@import 'text';
/**************
----HTML5---
**************/
section, header, footer,article, nav{
    display:block;
}
 
body{
    background:#f8eedf url(../images/img/bg.jpg) repeat-x;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:underline;
}
p{
    font-size:12px;
    line-height:18px;
    font-size:Verdana, helvetica, arial, sans-serif;
}
h1, h2, h3, h4,h5, h6{
    font-family: Merriweather; 
    text-transform:uppercase;
    font-weight:normal;
}
h3{
    color:#3da2b4;
    text-shadow:0 -1px 0 #231914; /* x axis y axis blur color */
    font-size:24px;
    line-height:24px;
}
ul{
    overflow:hidden;
}
li{
    margin-left:0;
    list-style:none;
}
.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.container_24{
    padding-left:5px;
    padding-right:5px;
    position:relative;
}

/*************
---Header---
***********/
header{
    height:160px;
    overflow:hidden;
    color:white;
}

header h1{
    padding-top: 30px;
    text-shadow: 0 -1px 0 #d09539;
    font-size: 30px;
}
header h1 a{
    position:relative;
    left:34px;
    color:white;
}
/***********
----NAV----
************/

header nav{
    position:relative;
    top:6px;
    left:30px;
    overflow:hidden;
    float:left;
    height:58px;
    line-height:58px;
}

header nav li{
    float:left;
    margin-right: 25px;
    line-height: 58px;
}
header nav a{
    font-size:16px;
    color:white;
    text-shadow: 0 1px 0 #281f1b;
}
header nav a:hover, nav .selected{
    background:#EFB04F;
    border-bottom:none;
    -webkit-border-radius:3px;
    -moz-border-radius-border-radius:3px;
    border-radius:3px;
    border:1px solid #FCCC85;
    text-shadow: 0 1px 0 #281f1b;
    text-decoration:none;
    padding: 4px;
    margin-right: -9.6px; 
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

/**********************
-----SOCIAL ICON----
*********************/
#headSocial{
    position: absolute;
    top:37px;
    right:37px;
}
#line{
    position: absolute;
    top:-10px;
    right:200px;
}
#headSocial li{
    display:inline;
}
#headSocial img{
    float:left;
    margin-left:23px;
    margin-bottom:-1px;
    -webkit-transition:  -webkit-border-radius 0.2s;
    -moz-transition: -moz-border-radiusall 0.2s;
    transition: border-radius 0.2s;
}
#headSocial img:hover{
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border-radius:13px;
    -moz-box-shadow: 0 0 0 1px white;
    -webkit-box-shadow: 0 0 0 1px white;
}


/**********************
-----Header Form----
*********************/

header form{
    position:absolute;
    top: 103px;
    right:30px;
    overflow:hidden;
    float:right;
    height:58px;
}
header form p{
    font-weight: bold;
    text-transform:uppercase;
    text-shadow: 0 -1px 0 black;
    position: relative;
    line-height:58px;
}
header input{
    background: #247184 url(../images/img/searchicon.png) no-repeat scroll 90% 50%; 
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #206577;
    color:white;
    margin-left: 5px;

}
/******************
******BANNER*****
*******************/

#banner-wrap{
    clear:both;
    background: url(../images/img/BannerBg.jpg);
    padding-bottom:15px;
    border-bottom: 1px solid #bba67b;
    padding-top:45px;

}
#banner{
    background:url(../images/img/bannerInnerBg.jpg);
    padding:  40px 40px 50px;
    width:880px;
    color:white;
    position:relative;
    z-index:3;
}
#banner h2{
    color: #3da2b4;
    text-shadow: 0 -1px 0 #2b1f1a;
    line-height:20px;

}
#banner h2, #banner p{
    padding-right: 400px;
}
#banner input, #banner button{
    margin-right:20px;
}
button {
    border: none;
    border-radius: 4px;
    background: url(../images/img/buttonBackground.png);
    padding:5px;
    font-size: 16px;
}
#featured{
    position:absolute;
    right:40px;
    top:24px;

}
#featured img:first-child{
    position:relative;
    left:160px;
    top:14px;
}
#featured img{
    -webkit-box-shadow: 0 3px 15px #143d47;
    -moz-box-shadow:0 3px 15px #143d47;
    box-shadow:0 3px 15px #143d47   ;
}
featured img{
    -webkit-box-shadow:0 3px 15px #143d47;
    -moz-box-shadow: 0 3px 15px #143d47;
    box-shadow: 0 3px 15px #143d47;
}
#breadcrumbs{
    background:#257386;
    background: -moz-linear-gradient(top, #298192, #247184);
    line-height:43px;
    position:relative;
    z-index: 2;
    top:-6px;
    padding: 0 40px;
    width: 880px;
    color: white;
    text-shadow: 0 -1px 0 #176472;


}
#breadcrumbs a{
    color:white;
    font-weight: bold;
}
#breadcrumbs a:last-child{
    background: url(../images/img/arrow.png) no-repeat scroll center 37px transparent;
    display: inline-block;
}

/********************
*****MAIN SECTION**
********************/

#main{
    
    padding-top:50px;
    padding-bottom: 50px;
    padding-left:36px;
    padding-right: 0px;
    background:#f8eedf;
    background:-webkit-gradient(
        linear,
        left top, right top,
         from(#f8eedf),
          color-stop( 63.5%, #f8eedf),
          color-stop(63.6%,#fff7ea),
          color-stop(63.6%, #dfcdb2),
           color-stop(63.7%, #e8d8c0) ,
           to( #f8eedf)
    );
    background:
        -moz-linear-gradient(
            left,
            #f8eedf 63.5%,
            #fff7ea 63.6%,
            #dfcdb2 63.6%,
            #e8d8c0 63.7%,
            #f8eedf
         );
    overflow:hidden;
}
#main article{
    padding-right:40px;

}
#main article img{
    margin: 0 0 10px;
}
article h2{
    margin-bottom:0;
    font-weight:bold;
}
article h2 a:hover{
    text-decoration:none;
    font-weight:bold;
}
article h6 a, article h6{
    color: #d6a75d;
    font-style:italic;
}
#main p a{
    color:#247184;
    font-weight:bold;
}

#primary{
    margin-right: -37px;
}

#secondary{
    margin-left: -20px;
}

#secondary section{
    clear:both;
    margin-bottom:40px;

}
#secondary section img{
    float:left;
    border:5px solid #febf5d;
    margin-bottom: 20px;
}


/*---TABS----*/
.tabs{
    overflow:hidden;
    background:#257588;
    background: -webkit-gradient(linear, left top, left bottom, from (#257588), to(#3096a4));
    background:-moz-linear-gradient(top, #257588, #3096a4);
    background:linear-gradient(top, #257588, #3096a4);
    overflow:hidden;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding-bottom:10px;
    margin-right:-37px; 
    margin-top: -3px;
}
.tabs ul{
    margin-top:-5px;
    padding:15px 10px 0;
    margin-bottom:0;
    border-top:1px solid #248fa6;
}
#tabHeadings li{
    float:left;
    width:33.33%;
    text-align:center;
    cursor:pointer;
    padding:10px;
}
#tabHeadings{
    display:block;
    margin-bottom:0;
    background:repeat;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
   -moz-border-top-right-radius:5px;
   -moz-border-top-left-radius:5px;
    overflow:hidden;
    border-bottom: 1px solid #134a56;
    background:#40312a;
    margin-right:-37px;
}
#tabHeadings li.selected, #tabHeadings li:hover{
    background:#257588;
    position:relative;
}
#tabHeadings a{
    color:white;
}

/****COMMENTS******/
#comments li{
    border-bottom: 1px solid #1d6b78;
    border-top:1px solid #399cac;
    padding:10px;
    color:white;
}
#comments li:last-child{
    border-bottom:none;
}
#comments li:first-child{
    border-top:none;
    padding-top:0;
}
#comments h6{
    margin-bottom:0;
    color:#ededed;
    font-weight:normal;
    font-size:10px;
    margin-top:-13px;
}
h6 a{
    color:white;
    font-weight:bold;
}
.tabs a{
    color:white;
}

.js .tabs h4
{
            display: none;
}

.js .tabs >ul:not(:first-child)
{
            display:none;
}
.tabs a:hover{
    text-decoration: none
}
 .tabList li {
    display: block;
    border-bottom: 1px solid #1d6b78;
    border-top: 1px solid #399cac;
    padding:10px;
}
.tabs li:hover{
    cursor:pointer;
    background:#1d6b78;
}
.tabs ul:first-child li:hover{
    background:none;
}
.tabs >ul li:hover{
    cursor:pointer;
}
.tabList li:first-child{
    border-top:none;
}
.tabList li:last-child{
    border-bottom:none;
}
#categories, #archives{
    padding-left:0;
    padding-right:0;
}
/*SPONSORS*/
#sponsors li:nth-child(even){
    float:right;
}


/****FOOTER*****/


#footer-wrap{
    background:url(../images/img/bannerInnerBg.jpg);
    overflow:hidden;
    border-top:1px solid #3a2c25;
}
#footer-wrap::before{
    content:' ';
    border-top:1px solid #83786e;
    width:100%;
    position:absolute;
}
#footer-wrap footer{
    padding:50px 0;
    color:white;
    width:884px;

}

footer button{
    float:right;
}
/* Free */
#free{
    width:260px;
}
/*RECENT PROJECT*/
#recentProjects
{
    width:304px;
}
#recentProjects li{
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    padding: 3px 3px 0 3px;
    background:#febf5d;
}
#recentProjects li:hover{
    background:#edad4e;
    outline:1px solid #fccc85;
}
#recentProjects button{
    margin-right:40px;
}

/*****TWITTTER*********/

#twitter{
    width:32%;
}
footer #twitter p span a{
    display:block;
    color:#2e91a0;
    font-style:italic;
}

#twitter a{
    display:inline;

}



/****************************FORMS*************************************/

    button, input, textarea{
        
        text-align: left;
        cursor: pointer;
    }


    

    #banner-wrap button, #banner-wrap .button{
        border-radius: 5px;
    }

    button, .button{
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        
        text-shadow: 0 -1px 0 #d09944;
        padding: 10px 20px;
        margin-right: 18px;
    }

    

    input, textarea{
        background: #f8eedf;
        border-top: 1px solid #d9d9d9;
        padding: 10px;
        color: #247184;
        margin-bottom: 15px;
    }

    
    textarea,#timeScale{
        width: 95%; 
    }

    input[type=text]{
        width: 117px;
        margin-right: 10px;
    }

    #headSearch{
        width:144px;
        margin-right: 10px;
        padding-right: 0;
    }


    textarea{
        height: 130px;
    }

    textarea:hover, button:hover,
    textarea:focus, button:focus{
        box-shadow: 0 0 10px green;
        background: #eddbc0;
    }

    #footer-wrap input:hover, #footer-wrap input:focus{
        box-shadow: 0 0 1px green;
        background: #eddbc0;
    }


    button:hover, .button:hover{
        background: #d89d42;
    }
    
    
/*SITE iNFO*/

#siteInfo {
    background: url(../images/img/footerSmallBg.jpg);
    height:50px;
    line-height: 50px;
    color:white;
    overflow:hidden;
    text-shadow: 0 1px 0 #165665;
}
#siteInfo p{
    float:left;
    line-height:50px;
}
footer nav{
    float:right;
}
footer nav li{
    float:left;
}
footer nav a{
    color:white;
}
footer nav li:before{
    content:'|';
    padding:5px;
    text-shadow: 0 1px 0 #165665;
}
footer nav li:first-child::before{
    content: ' ';
}



